@font-face {
    font-family: 'chaletmedium';
    src: url('chaletnewyorknineteenseventy-webfont.woff2') format('woff2'),
         url('chaletnewyorknineteenseventy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}